@import "general";
@import "redes";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/*mobile*/

/*texto*/


body{
    display: grid;
    grid-template-areas:
    "footer"
    "section"
    "div"
    "header"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid: 5px;
}

header{
    grid-area: header;
    
}
.titulo{
    grid-area: titulo;
    margin-top: 45px;
}

footer{
    grid-area: footer;
    img{
        width: 50px;
        height: 50px;
    }
}

.foto1{
    grid-area: foto1;
    text-align: center;
}
.historia1{
    grid-area: historia1;
    p{
        font-family: $fontp;
        font-size: 15px;
        color: white;
        text-align:left;
        margin-left: 15px;
    }
}

.historia2{
    grid-area: historia2;
    p{
        font-family: $fontp;
        font-size: 15px;
        color: white;
        text-align: left;
        margin-right: 15px;
    }
}


.foto2{
    grid-area: foto2;
    text-align: center;
    img{
        height: 350px;
        width: 350px;
    }
}




.subarq{
    grid-area: subarq;
      div{
    grid-area: arqueros;
    justify-self: center;  
}
}

.subdef{
    grid-area: subdef;
    div{
        grid-area: defensores;
        justify-self: center;
    }
}

.submed{
    grid-area: submed;
    div{
        grid-area: medios;
        justify-self: center;
    }

}
.subdel{
    grid-area: subdel;
    div{
        justify-self: center;
        grid-area: delanteros;
    }
}
.titulos{
    text-align: center;
    grid-area: div;
}

img{
    height: 100px;
    width: 100px;
}


.gridc{
    grid-area: div;
    display:grid ;
    grid-template-areas:
    "footer"
    "titulo"
    "historia1"
    "foto1"
    "subtitulo"    
    "historia2"
    "foto2"
    "header"
    ; 
    grid-template-columns:100% ;
    grid-template-rows:50px auto auto auto auto auto auto auto  ;
    gap: 5px;
    }

.planteltitular{
    display: grid;
   grid-template-areas: 
   "subarq"
   "arqueros"
   "subdef"
   "defensores"
   "submed"
   "medios"
   "subdel"
   "delanteros"
   ;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 5px; 

}
.section{
    text-align: center;
    grid-area: section;
}


.plantel{
    text-align: center;
    grid-area: section;
}

.titulos{
    text-align: center;
    grid-area: div;
}
.historia{
    text-align: center;
}








/*desktop*/
@media (min-width:1024px){
img{
    width: auto;
    height: auto;
}


.gridc{
    display:grid ;
    grid-template-areas:
    "header header header header"
    "titulo titulo titulo titulo"
    "foto1 historia1 historia1 historia1"
    "subtitulo subtitulo subtitulo subtitulo"
    "historia2 historia2 historia2 foto2"
    "footer footer footer footer"
    ;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 5px;
}



.subtitulo{
    grid-area: subtitulo;
    h4{
        text-transform: uppercase;
        background-color: $oro;
        color:$azul;
        font-family: $fontp;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        height: 25px;
        justify-content: center;
    }
}

.planteltitular{
   
    display: grid;
    grid-template-areas: 
    "subarq"
    "arqueros"
    "subdef"
    "defensores"
    "submed"
    "medios"
    "subdel"
    "delanteros"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 5px; 
}



body{
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "div"
    "footer"
    ;
}
}

.flex-container{
	display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:center;
    border: 3px solid;
    border-color: $oro;
    margin:50px 50px;
    padding:20px;
   
    .form{
	min-width:400px;
	flex:1;
	text-align:center;
	padding:30px;
	order:2;
    img{
        flex:1;
        padding:10px;
        display:flex;
        min-width:200px;
        max-width:400px;
        order:1; 
        div{
            padding:10px;
            
        }
        img{
            width:80%;
            margin:auto;
        }
    }
    
     textarea{
        min-height:140px;
        resize:none;
    } 
    input[type="submit"]{
        background-color:$oro;
        border-bottom:none;
        padding:12px;
    }
    .form-input{
        width:100%;
        padding:7px;
        margin:14px 0;
        border:none;
        border-top:3px solid ;
        border-color: $oro;
        background:transparent;
        color:black;
        text-transform: uppercase;
        &:focus{
            background:linear-gradient(to bottom,transparent,$orosec);
            outline:none;
            border-top:3px solid ;
            border-color: $oro;
        }
        
    }
}

}


.img-container{
	margin:auto;
    div{
        border-radius:50%;
        text-align:center;
        padding:40px;
    
    }
}

.bocahome{
    height: 70px;
    width: 60px;
     &:hover{
        transform: scale(4.08);
        transition-duration: 0.35s;
     }
}

.titulos{
    margin-top: 0px;
}