@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
* {
  background-color: rgb(0, 0, 74);
  font-style: italic;
}

p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
}

h1 {
  font-size: 70px;
  background-color: #ffcc00;
  color: rgb(0, 0, 39);
  text-transform: uppercase;
  font-weight: 600;
  font-family: "League Gothic", sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 50px;
  background-color: #ffcc00;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 39);
  font-family: "League Gothic", sans-serif;
}

h3 {
  text-transform: uppercase;
  background-color: white;
  color: rgb(0, 0, 39);
  font-family: "League Gothic", sans-serif;
  font-weight: 600;
  text-align: center;
}

h4 {
  text-transform: uppercase;
  background-color: #ffcc00;
  color: rgb(0, 0, 74);
  font-family: "League Gothic", sans-serif;
  font-weight: 600;
  text-align: center;
}

h5 {
  font-family: "League Gothic", sans-serif;
  color: #ffcc00;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.nav2 {
  text-align: center;
}
.nav2 ul {
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  gap: 10px;
  margin-top: 25px;
}
.nav2 ul li {
  list-style: none;
}
.nav2 ul li:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

/*mobile*/
/*texto*/
body {
  display: grid;
  grid-template-areas: "footer" "section" "div" "header";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid: 5px;
}

header {
  grid-area: header;
}

.titulo {
  grid-area: titulo;
  margin-top: 45px;
}

footer {
  grid-area: footer;
}
footer img {
  width: 50px;
  height: 50px;
}

.foto1 {
  grid-area: foto1;
  text-align: center;
}

.historia1 {
  grid-area: historia1;
}
.historia1 p {
  font-size: 15px;
  color: white;
  text-align: left;
  margin-left: 15px;
}

.historia2 {
  grid-area: historia2;
}
.historia2 p {
  font-size: 15px;
  color: white;
  text-align: left;
  margin-right: 15px;
}

.foto2 {
  grid-area: foto2;
  text-align: center;
}
.foto2 img {
  height: 350px;
  width: 350px;
}

.subarq {
  grid-area: subarq;
}
.subarq div {
  grid-area: arqueros;
  justify-self: center;
}

.subdef {
  grid-area: subdef;
}
.subdef div {
  grid-area: defensores;
  justify-self: center;
}

.submed {
  grid-area: submed;
}
.submed div {
  grid-area: medios;
  justify-self: center;
}

.subdel {
  grid-area: subdel;
}
.subdel div {
  justify-self: center;
  grid-area: delanteros;
}

.titulos {
  text-align: center;
  grid-area: div;
}

img {
  height: 100px;
  width: 100px;
}

.gridc {
  grid-area: div;
  display: grid;
  grid-template-areas: "footer" "titulo" "historia1" "foto1" "subtitulo" "historia2" "foto2" "header";
  grid-template-columns: 100%;
  grid-template-rows: 50px auto auto auto auto auto auto auto;
  gap: 5px;
}

.planteltitular {
  display: grid;
  grid-template-areas: "subarq" "arqueros" "subdef" "defensores" "submed" "medios" "subdel" "delanteros";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  gap: 5px;
}

.section {
  text-align: center;
  grid-area: section;
}

.plantel {
  text-align: center;
  grid-area: section;
}

.titulos {
  text-align: center;
  grid-area: div;
}

.historia {
  text-align: center;
}

/*desktop*/
@media (min-width: 1024px) {
  img {
    width: auto;
    height: auto;
  }

  .gridc {
    display: grid;
    grid-template-areas: "header header header header" "titulo titulo titulo titulo" "foto1 historia1 historia1 historia1" "subtitulo subtitulo subtitulo subtitulo" "historia2 historia2 historia2 foto2" "footer footer footer footer";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 5px;
  }

  .subtitulo {
    grid-area: subtitulo;
  }
  .subtitulo h4 {
    text-transform: uppercase;
    background-color: #ffcc00;
    color: rgb(0, 0, 74);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    height: 25px;
    justify-content: center;
  }

  .planteltitular {
    display: grid;
    grid-template-areas: "subarq" "arqueros" "subdef" "defensores" "submed" "medios" "subdel" "delanteros";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 5px;
  }

  body {
    display: grid;
    grid-template-areas: "header" "section" "div" "footer";
  }
}
.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid;
  border-color: #ffcc00;
  margin: 50px 50px;
  padding: 20px;
}
.flex-container .form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
  order: 2;
}
.flex-container .form img {
  flex: 1;
  padding: 10px;
  display: flex;
  min-width: 200px;
  max-width: 400px;
  order: 1;
}
.flex-container .form img div {
  padding: 10px;
}
.flex-container .form img img {
  width: 80%;
  margin: auto;
}
.flex-container .form textarea {
  min-height: 140px;
  resize: none;
}
.flex-container .form input[type=submit] {
  background-color: #ffcc00;
  border-bottom: none;
  padding: 12px;
}
.flex-container .form .form-input {
  width: 100%;
  padding: 7px;
  margin: 14px 0;
  border: none;
  border-top: 3px solid;
  border-color: #ffcc00;
  background: transparent;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.flex-container .form .form-input:focus {
  background: linear-gradient(to bottom, transparent, #312f00);
  outline: none;
  border-top: 3px solid;
  border-color: #ffcc00;
}

.img-container {
  margin: auto;
}
.img-container div {
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}

.bocahome {
  height: 70px;
  width: 60px;
}
.bocahome:hover {
  transform: scale(1.08);
  transition-duration: 0.35s;
}

.titulos {
  margin-top: 0px;
}/*# sourceMappingURL=style.css.map */